@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --yellow: #f5c32c;
    --orange: #fca61f;
    --black: #242d49;
    --gray: #3f3f41;
    --blueCard: #ddf8fe;
    --purple: rgb(238 210 255);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);

    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
@layer utilities {
  .shadow-left-bottom {
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 22px -22px 70px hsl(var(--card)),
      inset -22px 22px 70px #ffffff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .custom-styles {
    @apply shadow-left-bottom; /* Apply the box shadow styles */
  }
  .card {
    @apply w-[15rem] h-[fit-content] absolute flex flex-col gap-3 items-center text-center bg-opacity-[26]  border border-solid shadow rounded-lg p-0.5 sm:text-left;
  }
  .card span:nth-of-type(2) {
    @apply text-gray-500 text-sm;
  }
  .card > img {
    @apply transform scale-50 mb-[-2.2rem] mt-[-1rem];
  }
  .c-button {
    @apply bg-white  rounded-md border-none p-2 text-base text-blue-500 mt-auto transition-transform;
  }
  .c-button:hover {
    @apply transform scale-110 cursor-pointer;
  }

  @media screen and (max-width: 480px) {
    .card {
      @apply w-auto;
    }
  }
}

.App {
  /* padding: 0.5rem 3.5rem; */
  overflow: hidden;
  color: var(--black);
}

.button {
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}

.button:hover {
  background: white;
  cursor: pointer;
  border: 1px solid var(--orange);
  color: var(--orange);
}
@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;
  }
}
